# Basic Settings for Assignment

In [286]:
# import required libraries...
import os
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns

In [287]:
os.chdir("C:/Users/user/Desktop/2020_2/MLDL/HW01/")

# Q1: Carseats dataset

In [204]:
# Data import
carseat = pd.read_csv('Carseats.csv')
carseat.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [205]:
# Check info & missing data: -> No missing values!
carseat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [206]:
# Check basic stats
carseat.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [207]:
# Data Preprocessing: Handling object values(Urban, US)
obj_col = ['Urban', 'US']

for col in obj_col:
    before = carseat[col]
    encoder = LabelEncoder()
    after = encoder.fit_transform(before)
    carseat[col] = after
    
# Check whether successfully encoded    
carseat[['Urban','US']][:5]

   Urban  US
0      1   1
1      1   1
2      1   1
3      1   1
4      1   0

In [208]:
# Fitting Linear Regression Model & Check the result
X = carseat[['Price','Urban','US']]
Y = carseat['Sales']

X = sm.add_constant(X)

model = sm.OLS(Y,X)
result = model.fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.239
Model:                            OLS   Adj. R-squared:                  0.234
Method:                 Least Squares   F-statistic:                     41.52
Date:                Sun, 16 Oct 2022   Prob (F-statistic):           2.39e-23
Time:                        02:25:55   Log-Likelihood:                -927.66
No. Observations:                 400   AIC:                             1863.
Df Residuals:                     396   BIC:                             1879.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         13.0435      0.651     20.036      0.000      11.764      14.323
Price         -0.0545      0.005    -10.389      0.000      -0.065      -0.044
Urban         -0.0219      0.272     -0.081      0.936      -0.556       0.512
US             1.2006      0.259      4.635      0.000       0.691       1.710
==============================================================================
Omnibus:                        0.676   Durbin-Watson:                   1.912
Prob(Omnibus):                  0.713   Jarque-Bera (JB):                0.758
Skew:                           0.093   Prob(JB):                        0.684
Kurtosis:                       2.897   Cond. No.                         628.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [209]:
# Coefficient의 신뢰구간
print(result.conf_int(alpha=0.05))

               0          1
const  11.763597  14.323341
Price  -0.064764  -0.044154
Urban  -0.555973   0.512141
US      0.691304   1.709841

# Q2: Default dataset

In [288]:
# Import data
default = pd.read_csv('Default.csv')
default.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [289]:
# Check column info & null values
default.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   default  10000 non-null  object
 1   student  10000 non-null  object
 2   balance  10000 non-null  float64
 3   income   10000 non-null  float64
dtypes: float64(2), object(2)
memory usage: 312.6+ KB

In [290]:
# Check basic stats
default.describe()

            balance        income
count  10000.000000  10000.000000
mean     835.374886  33516.981876
std      483.714985  13336.639563
min        0.000000    771.967729
25%      481.731105  21340.462903
50%      823.636973  34552.644802
75%     1166.308386  43807.729272
max     2654.322576  73554.233495

In [291]:
# Data Preprocessing: Handling object values(default, student)
obj_col = ['default','student']

for col in obj_col:
    before = default[col]
    encoder = LabelEncoder()
    after = encoder.fit_transform(before)
    default[col] = after
    
# Check whether successfully encoded    
default[['default','student']][:5]

   default  student
0        0        0
1        0        1
2        0        0
3        0        0
4        0        0

In [292]:
# Split X, Y
X = default[['income', 'balance']]

Y = default['default']

In [293]:
# Add constant to fit into Logistic Regression Model
X = sm.add_constant(X)

In [294]:
# Fit the Logistic Regression Model
Model2 = sm.Logit(Y, X).fit()

Optimization terminated successfully.
         Current function value: 0.078948
         Iterations 10

In [295]:
# Print Model's summary
print(Model2.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                default   No. Observations:                10000
Model:                          Logit   Df Residuals:                     9997
Method:                           MLE   Df Model:                            2
Date:                Sun, 16 Oct 2022   Pseudo R-squ.:                  0.4594
Time:                        17:59:33   Log-Likelihood:                -789.48
converged:                       True   LL-Null:                       -1460.3
Covariance Type:            nonrobust   LLR p-value:                4.541e-292
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -11.5405      0.435    -26.544      0.000     -12.393     -10.688
income      2.081e-05   4.99e-06      4.174      0.000     1.1e-05    3.06e-05
balance        0.0056      0.000     24.835      0.000       0.005       0.006
==============================================================================

Possibly complete quasi-separation: A fraction 0.14 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

### 2-C) Cross Validation

In [296]:
# Cross validation(5 folds)
# Print CV[I]'s valid_err

from sklearn.model_selection import KFold, cross_val_score
from sklearn.model_selection import cross_val_score

f = KFold(n_splits=5, shuffle=True, random_state=19970908)
cvs = cross_val_score(model_2_2, X, Y, scoring="accuracy", cv=f)
for i in range(len(cvs)):
    print(f"[CV_{i+1}] Validation Error: {round(1 - cvs[i], 5)}")

[CV_1] Validation Error: 0.029
[CV_2] Validation Error: 0.028
[CV_3] Validation Error: 0.028
[CV_4] Validation Error: 0.0365
[CV_5] Validation Error: 0.023

In [297]:
# Mean each CV[I]'s valid err in order to estimate test err
print(f"Mean Validation Error: {round((1 - cvs.mean()), 5)}")

Mean Validation Error: 0.0289

### 2-D) Logistic Regression with "student"

In [298]:
# Reconstruct X with 'student' column & add constant
X_student = default[['income','balance','student']]
X_student = sm.add_constant(X_student)

In [299]:
# Fit the Logistic Regression model again
model_2_d = LogisticRegression().fit(X_student, Y)
model_2_d.score(X_student, Y)

0.9696

In [300]:
# Cross validation(5 folds)
# Print CV[I]'s valid_err

f_student = KFold(n_splits=5, shuffle=True, random_state=19970908)
cvs = cross_val_score(model_2_d, X_student, Y, cv=f_student)
for i in range(len(cvs)):
    print(f"[CV_{i+1}] Validation Error: {round(1 - cvs[i], 5)}")

[CV_1] Validation Error: 0.03
[CV_2] Validation Error: 0.027
[CV_3] Validation Error: 0.0315
[CV_4] Validation Error: 0.0365
[CV_5] Validation Error: 0.0255

In [301]:
# Mean each CV[I]'s valid err in order to estimate test err
print(f"{round((1 - cvs.mean()), 5)}")

0.0301

# Q3: College dataset

In [250]:
# Import data
college = pd.read_csv('College.csv')
college.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [251]:
# Check column info & null values
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   777 non-null    object
 1   Private      777 non-null    object
 2   Apps         777 non-null    int64
 3   Accept       777 non-null    int64
 4   Enroll       777 non-null    int64
 5   Top10perc    777 non-null    int64
 6   Top25perc    777 non-null    int64
 7   F.Undergrad  777 non-null    int64
 8   P.Undergrad  777 non-null    int64
 9   Outstate     777 non-null    int64
 10  Room.Board   777 non-null    int64
 11  Books        777 non-null    int64
 12  Personal     777 non-null    int64
 13  PhD          777 non-null    int64
 14  Terminal     777 non-null    int64
 15  S.F.Ratio    777 non-null    float64
 16  perc.alumni  777 non-null    int64
 17  Expend       777 non-null    int64
 18  Grad.Rate    777 non-null    int64
dtypes: float64(1), int64(16), object(2)
memory usage: 115.5+ KB

In [252]:
# Check basic stats
college.describe()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

In [254]:
# Data Preprocessing: Remove college name
college = college.iloc[:,1:]

# Data Preprocessing: Handling Object-feature: Private
before = college['Private']
encoder = LabelEncoder()
after = encoder.fit_transform(before)
college['Private'] = after

# Check whether successfully encoded    
college['Private'][:5]

0    1
1    1
2    1
3    1
4    1
Name: Private, dtype: int32

In [255]:
# Find out columns within data
college.columns

Index(['Private', 'Apps', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate'],
      dtype='object')

In [267]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Construct X, Y
X = college[['Private', 'Accept', 'Enroll', 'Top10perc', 'Top25perc',
       'F.Undergrad', 'P.Undergrad', 'Outstate', 'Room.Board', 'Books',
       'Personal', 'PhD', 'Terminal', 'S.F.Ratio', 'perc.alumni', 'Expend',
       'Grad.Rate']]
Y = college['Apps']

# Train-Test split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, shuffle=True, random_state=10)

# Linear Regression용 X: without scaling
X_train_for_lr = X_train
X_test_for_lr = X_test

# Ridge, Lasso용 X: with scaling
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

### 3-A) Linear Regression

In [268]:
# 1. LR model fitting
X_train_for_lr = sm.add_constant(X_train_for_lr)
X_test_for_lr = sm.add_constant(X_test_for_lr)

lr = sm.OLS(Y_train, X_train_for_lr)
model_lr = lr.fit()
print(model_lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Apps   R-squared:                       0.927
Model:                            OLS   Adj. R-squared:                  0.925
Method:                 Least Squares   F-statistic:                     505.8
Date:                Sun, 16 Oct 2022   Prob (F-statistic):               0.00
Time:                        02:55:42   Log-Likelihood:                -5856.1
No. Observations:                 699   AIC:                         1.175e+04
Df Residuals:                     681   BIC:                         1.183e+04
Df Model:                          17
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        -566.4451    440.436     -1.286      0.199   -1431.221     298.331
Private      -548.4224    148.313     -3.698      0.000    -839.628    -257.217
Accept          1.5901      0.043     36.641      0.000       1.505       1.675
Enroll         -0.9100      0.209     -4.359      0.000      -1.320      -0.500
Top10perc      48.0672      6.065      7.926      0.000      36.160      59.975
Top25perc     -13.3022      4.906     -2.711      0.007     -22.935      -3.669
F.Undergrad     0.0614      0.036      1.684      0.093      -0.010       0.133
P.Undergrad     0.0429      0.035      1.238      0.216      -0.025       0.111
Outstate       -0.0874      0.021     -4.245      0.000      -0.128      -0.047
Room.Board      0.1607      0.052      3.091      0.002       0.059       0.263
Books           0.0392      0.252      0.156      0.876      -0.456       0.534
Personal        0.0427      0.067      0.641      0.522      -0.088       0.174
PhD           -10.0594      5.123     -1.963      0.050     -20.119    9.62e-05
Terminal       -3.2520      5.561     -0.585      0.559     -14.171       7.667
S.F.Ratio      19.0006     13.792      1.378      0.169      -8.079      46.080
perc.alumni     0.8089      4.407      0.184      0.854      -7.845       9.463
Expend          0.0847      0.014      5.928      0.000       0.057       0.113
Grad.Rate       9.9552      3.167      3.144      0.002       3.738      16.173
==============================================================================
Omnibus:                      429.701   Durbin-Watson:                   1.978
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7951.010
Skew:                           2.397   Prob(JB):                         0.00
Kurtosis:                      18.812   Cond. No.                     1.82e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.82e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [271]:
# Check Test MSE

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

pred_lr = model_lr.predict(X_test_for_lr)
tmse_lr = mean_squared_error(Y_test, pred_lr)
score_lr = r2_score(Y_test, pred_lr)

print(f"[Linear Regression] Test MSE: {round(tmse_lr,5)}")

[Linear Regression] Test MSE: 642554.0075

### 3-B) Ridge

In [276]:
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
alpha = np.logspace(-2, 3, 100) # alpha(lambda) 후보군 생성

# Cross Validation to figure out optimal alpha
cv_r = KFold(n_splits=10, shuffle=True, random_state=108)
ridge = RidgeCV(alphas = alpha, cv=cv_r, scoring="neg_mean_squared_error")
ridge_cv = ridge.fit(X_train, Y_train)
print(ridge_cv.alpha_)

0.01

In [281]:
# Ridge fitting & Check Test MSE

model_r = Ridge(alpha=ridge_cv.alpha_).fit(X_train, Y_train)
pred_r = model_r.predict(X_test)
score_r = model_r.score(X_test, Y_test)
tmse_r = mean_squared_error(Y_test, pred_r)

print(f"[Ridge Regression] Test MSE: {round(tmse_r, 5)}")

[Ridge Regression] Test MSE: 642533.04046

In [100]:
model_r.coef_

array([-242.36476884, 3890.36699706, -840.79223965,  854.30700974,
       -263.16939543,  297.35850998,   64.49697053, -352.72004091,
        174.68209892,    6.62262525,   29.48655444, -163.00893069,
        -47.87552371,   75.4493938 ,   10.08088437,  425.19429739,
        170.72576819])

### 3-C) Lasso

In [278]:
from sklearn.model_selection import GridSearchCV

# alpha(lambda) 후보군 생성
alpha = np.logspace(-2, 3, 100)
alpha = {'alpha':list(alpha)}

# Cross Validation to figure out optimal alpha
cv_l = KFold(n_splits=10, shuffle=True, random_state=108)
lasso_cv = GridSearchCV(estimator=Lasso(), param_grid=alpha, scoring="neg_mean_squared_error", cv=cv_l)
lasso_cv.fit(X_train, Y_train)
print(lasso_cv.best_params_)

{'alpha': 13.530477745798061}

In [279]:
# 딕셔너리 value를 alpha_optimal 변수에 실수형태로 저장
alpha_optimal = 0
for i in lasso_cv.best_params_.values():
    alpha_optimal += i
alpha_optimal

13.530477745798061

In [280]:
# Lasso fitting & Check Test MSE
model_l = Lasso(alpha=alpha_optimal).fit(X_train, Y_train)
pred_l = model_l.predict(X_test)
score_l = model_l.score(X_test, Y_test)
tmse_l = mean_squared_error(Y_test, pred_l)

print(f"[Lasso Regression] Test MSE: {round(tmse_l, 5)}")

[Lasso Regression] Test MSE: 630397.65085

In [274]:
# lasso 모델의 coefficients
model_l.coef_

array([-2.25724825e+02,  3.69669916e+03, -3.38207544e+02,  6.83554178e+02,
       -1.18275203e+02,  0.00000000e+00,  4.83570767e+01, -2.83968072e+02,
        1.57287561e+02,  1.70516831e-01,  2.03300706e+01, -1.36137142e+02,
       -4.13805887e+01,  4.93574175e+01, -0.00000000e+00,  3.90387652e+02,
        1.32416721e+02])

In [284]:
# coefficient == 0이 아닌 predictor의 개수
print(f"Number of Non-Zero Coefficients: {len(model_l.coef_) - np.sum(model_l.coef_ == 0)}")

Number of Non-Zero Coefficients: 15

# 3-4) Results

In [285]:
# Compare R2_Scores, Test_mse

print("<<<Results>>>")
print(f"[Linear] Test R2 Score: {round(score_lr, 5)}, Test MSE: {round(tmse_lr,5)}")
print(f"[Ridge] Test R2 Score: {round(score_r,5)}, Test MSE: {round(tmse_r, 5)}")
print(f"[Lasso] Test R2 Score: {round(score_l,5)}, Test MSE: {round(tmse_l, 5)}")

<<<Results>>>
[Linear] Test R2 Score: 0.95331, Test MSE: 642554.0075
[Ridge] Test R2 Score: 0.95331, Test MSE: 642533.04046
[Lasso] Test R2 Score: 0.95419, Test MSE: 630397.65085